<div class="panel panel-info forum-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      Forums
    </h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>