<uib-accordion-group is-open="forumStatus.open">
  <uib-accordion-heading>
    Forums
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': forumStatus.open, 'glyphicon-chevron-right': !forumStatus.open}"></i>
  </uib-accordion-heading>
  <div class="table-banner">
    <span class="label label-danger favorites-title"><%= current_user.name %> Favorites</span>
  </div>
  <div>
    <div id="categoriesTableDiv" class="table-div">
      <table id="categoriesTable"></table>
    </div>
  </div>

</uib-accordion-group>