<uib-accordion-group is-open="forumStatus.open">
  <uib-accordion-heading>
    Forums
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': forumStatus.open, 'glyphicon-chevron-right': !forumStatus.open}"></i>
  </uib-accordion-heading>
  <% if current_user %>
      <div id="categories-table-banner">
        <div>
          <span class="label label-danger favorites-title">Favorite Forums</span>
          <span ng-repeat="forum in favoriteForums" ng-click="selectForum(forum.name, forum.id, $event)" class="forum-item panel-title">{{forum.name}}</span>
        </div>
        <div>
          <span class="label label-danger favorites-title">Favorite Topics</span>
        </div>
      </div>
  <% end %>
  <div>
    <div id="categoriesTableDiv" class="table-div">
      <table id="categoriesTable"></table>
    </div>
  </div>

</uib-accordion-group>