<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{modalTitle}}</h3>
    <span id="modalTopicId" style="display: none">{{modalTopicId}}</span>
    <span id="modalPostId" style="display: none">{{modalPostId}}</span>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Title" id="modalSubject"
           style="margin-bottom: 10px" ng-model="modalSubject" ng-disabled="modalSubjectDisabled">
    <textarea name="ckeditor" id="ckeditor" rows="10" cols="80" ng-hide="modalTitle == 'Edit Topic'">
      {{modalText}}
    </textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submitForm(modalSubject)">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancelForm()">Cancel</button>
  </div>
</script>