<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Title" style="margin-bottom: 10px" ng-model="topicSubject">
    <textarea name="ckeditor" id="ckeditor" rows="10" cols="80">
    </textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submitForm()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancelForm()">Cancel</button>
  </div>
</script>