<uib-accordion-group is-open="topicStatus.open">
  <uib-accordion-heading>
    Topics
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': topicStatus.open, 'glyphicon-chevron-right': !topicStatus.open}"></i>
  </uib-accordion-heading>
  <div id="topics-table-banner">
    <% if current_user %>
        <div>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <span class="label label-danger favorites-title">Favorite Topics</span>
              </div>
              <div class="navbar-body">
                <span ng-repeat="topic in favoriteTopics" ng-click="selectTopic(topic.forum, topic.id, topic.subject, topic.views_count, topic.favorite, $event)"
                      class="forum-item panel-title">{{topic.subject}}</span>
              </div>
            </div>
          </nav>
        </div>
    <% end %>

    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div style="float: left; width: 23%">
            <p class="navbar-text" style="margin-top: 13px; margin-bottom: 0px">
              <span class="navbar-span">
                Views {{selectedForum.views_count}}
              </span>
              <span class="navbar-span">
                Topics {{selectedForum.topics_count}}
              </span>
            </p>

            <p ng-click="forumStatus.open = true" class="second-row">
              <a>
                Back to forums
                <i class="glyphicon ng-scope glyphicon-chevron-up"></i>
              </a>
            </p>
          </div>
          <div style="float: right; width: 75%; font-weight: bold">
            <p class="navbar-text">
              <i ng-class="{'glyphicon-star': selectedForum.favorite, 'glyphicon-star-empty': !selectedForum.favorite}" class="star glyphicon forum-icon" ng-click="toggleFavoriteForum(selectedForum.forum_name, selectedForum.id, selectedForum.category, $event)"></i>
              {{selectedForum.forum_name}}
            </p>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div>
    <div id="topicsTableDiv" class="table-div">
      <table id="topicsTable"></table>
    </div>
  </div>
</uib-accordion-group>