<uib-accordion-group is-open="topicStatus.open">
  <uib-accordion-heading>
    Topics
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': topicStatus.open, 'glyphicon-chevron-right': !topicStatus.open}"></i>
  </uib-accordion-heading>
  <% if current_user %>
      <div id="table-banner">
        <div>
          <span class="label label-danger favorites-title">Favorite Topics</span>
        </div>
        <div>
          {{selectedForum.forum_name}} Views {{selectedForum.views_count}}
        </div>
      </div>
  <% end %>
</uib-accordion-group>