<div ng-app="forumAdmin">
  <div ng-controller="FormController">
    <%= simple_form_for([:admin, @category], html: {"name" => "create_category_form"}) do |f| %>
        <div class="input-group">
          <div class="input string required category_name">
            <label for="category_name" class="string required">
              <abbr title="required">*</abbr> Name
            </label>
            <input type="text" value="" ng-model="catogery_name" name="name" id="category_name" class="string required form-control ng-valid ng-dirty ng-valid-parse ng-touched" required>
          </div>
        </div>
        <div class="margin-top-15-px">
          <%= f.submit class: "btn btn-primary", 'ng-show' => '!create_category_form.name.$error.required'%>
        </div>
    <% end %>
  </div>
</div>
