<div ng-app="forumAdmin">
  <div ng-controller="FormController">
    <%= simple_form_for([:admin, @category], html: {"name" => "create_category_form"}) do |f| %>
        <div class="input-group">
          <div class="input string required category_name">
            <label for="category_name" class="string required">
              <abbr title="required">*</abbr> Name
            </label>

            <% category_name = @category.attributes['category_name'] %>
            <% if category_name %>
                <input type="hidden" value="<%= @category.attributes['id']%>" name="category_id">
            <% end %>
            <input type="text" placeholder="<%= category_name %>" value="<%= category_name %>" ng-model="catogery_name" name="name" id="category_name" class="string required form-control ng-valid ng-dirty ng-valid-parse ng-touched" required>
          </div>
        </div>
        <input type="submit" value="Submit" ng-show="!create_category_form.name.$error.required" name="commit" style="margin-top: 15px" class="btn btn-primary">
    <% end %>
  </div>
</div>
