div.forum-panel {
  > div.panel-heading {
    > h3 {
      cursor: pointer;
    }
  }
}

div#categories-table-banner,
div#topics-table-banner {
  margin-left: 14px;
  span.favorites-title {
    font-size: 16px;
    width: 150px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 12px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    line-height: 24px;
  }

  > div {
    > nav {
      margin-bottom: 0px;
    }
  }
}

div.navbar-body {
  margin-top: 12px;
  padding-bottom: 5px;
}

span.navbar-span {
  padding: 6px;
}

.dataTable .td-title {
  font-size: 17px;
  line-height: 18px;
  word-wrap: break-word;
}

.second-row {
  font-size: 13px;
  padding-top: 10px;
  font-weight: 300;
  clear: both;
}

p.second-row {
  padding: 0px 0px 0px 21px;
  margin: 0px;
}

div.categories-table-toolbar,
div.topics-table-toolbar,
div.posts-table-toolbar {
  position: relative;
}

div.categories-table-toolbar {
  width: 90px;
  top: 28px;
}

div.topics-table-toolbar,
div.posts-table-toolbar {
  width: 220px;
  top: -6px;

  > button {
    float: left;
    margin-right: 5px;
  }
}

div.table-div {
  padding: 15px;
  thead {
    th {
      background-color: #5bc0de;
      border-color: #bce8f1;
      color: #31708f;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px 15px;
      box-sizing: border-box;
      font-weight: bolder;
    }
  }
  tbody {
    i.star {
      color: red;
    }
    tr.odd {
      background-color: lightcyan;
    }
    td.title-column {
      color: dimgrey;
      font-weight: bold;
    }
    td.content-column {
      color: dimgrey;
    }
  }
}

i.forum-icon {
  cursor: pointer;
  top: 2px;
}

span.selected-forum,
span.selected-topic {
  font-weight: bolder;
}

span.forum-item {
  cursor: pointer;
  padding: 5px;
  margin-right: 8px;
  color: dimgrey;
}

table#postsTable {
  > thead {
    display: none;
  }
  > tbody {
    td:nth-child(1) {
      width: 20px;
    }
  }
}

/* Posts Table */

div.messageUserInfo {
  float: left;
  width: 81px;
}

div.messageUserBlock {
  background-color: #f5f5f5;
  border-radius: 2px;
  position: relative;

  div.avatarHolder {
    padding: 8px;

    .avatar {
      display: inline-block;
      font-size: 0;
    }
  }

  h3.userText {
    padding: 5px;
    margin: 0px 0px 0px 5px;

    a.username {
      color: dimgrey;
      display: block;
      font-weight: bold;
      font-size: 13px;
      overflow: hidden;
    }
    .userTitle {
      display: block;
      font-size: 11px;
    }
  }

  .arrow span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: #f5f5f5;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent #f5f5f5;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 10px medium 10px 10px;
    display: block;
    height: 0;
    left: 81px;
    line-height: 0;
    position: absolute;
    top: 10px;
    width: 0;
  }
}

div.messageMeta {
  font-size: 11px;
  margin: -5px;
  overflow: hidden;
  padding: 15px 5px 5px;

  .privateControls {
    float: left;

    .item {
      float: left;
      margin-right: 10px;
      color: rgb(150, 150, 150);
    }
  }

  .publicControls {
    float: right;

    .item {
      float: left;
      margin-left: 10px;
    }

    a {
      color: #d9534f;
    }
  }
}

/* Modal */

div.modal-body div#cke_ckeditor span.cke_path > a {
  display: none;
}