div.forum-panel {
  > div.panel-heading {
    > h3 {
      cursor: pointer;
    }
  }
}

div#categories-table-banner,
div#topics-table-banner {
  margin-left: 14px;
  span.favorites-title {
    font-size: 16px;
    width: 150px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 12px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    line-height: 24px;
  }

  > div {
    > nav {
      margin-bottom: 0px;
    }
  }
}

div.navbar-body {
  margin-top: 12px;
  padding-bottom: 5px;
}

span.navbar-span {
  padding: 6px;
}

.dataTable .td-title {
  font-size: 17px;
  line-height: 18px;
  word-wrap: break-word;
}

.second-row {
  font-size: 13px;
  padding-top: 10px;
  font-weight: 300;
  clear: both;
}

p.second-row {
  padding: 0px 0px 0px 21px;
  margin: 0px;
}

div.categories-table-toolbar,
div.topics-table-toolbar,
div.posts-table-toolbar {
  position: relative;
  top: 28px;
  width: 90px;
}

div.table-div {
  padding: 15px;
  thead {
    th {
      background-color: #5bc0de;
      border-color: #bce8f1;
      color: #31708f;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px 15px;
      box-sizing: border-box;
      font-weight: bolder;
    }
  }
  tbody {
    i.star {
      color: red;
    }
    tr.even {
      background-color: lightcyan;
    }
    td.title-column {
      color: dimgrey;
      font-weight: bold;
    }
    td.content-column {
      color: dimgrey;
    }
  }
}

i.forum-icon {
  cursor: pointer;
  top: 2px;
}

span.selected-forum,
span.selected-topic {
  font-weight: bolder;
}

span.forum-item {
  cursor: pointer;
  padding: 5px;
  margin-right: 8px;
  color: dimgrey;
}

table#postsTable thead {
  display: none;
}