div.forum-panel {
  > div.panel-heading {
    > h3 {
      cursor: pointer;
    }
  }
}

div.tableDiv {
  padding: 15px;
  thead {
    th {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #31708f;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px 15px;
      box-sizing: border-box;
      font-weight: bolder;
    }
  }
  tbody {
    i.star {
      color: red;
    }
    span.selectedForum {
      background-color: #d9edf7;
    }
    tr.even {
      background-color: lightcyan;
    }
    td.titleColumn {
      color: dimgrey;
      font-weight: bold;
    }
    td.contentColumn {
      color: dimgrey;
    }
  }
}

i.forumIcon {
  cursor: pointer;
  top: 2px;
}

span.forumItem {
  cursor: pointer;
  padding: 5px;
  margin-right: 8px;
}