/* Global Variables
----------------------------------------------------------*/
$grayMediumLight: #eaeaea;
$blue: #00BDF6;
$blueLight: #428BCA;
$greenLight: #8CBE00;
$red: #FF6360;
$black: #4B4B54;
$white: #FFFFFF;
$yellowLight: #F9FF63;
$White: #FFFFFF;
$Ivory: #FFFFF0;
$LightYellow: #FFFFE0;
$Yellow: #FFFF00;
$Snow: #FFFAFA;
$FloralWhite: #FFFAF0;
$LemonChiffon: #FFFACD;
$Cornsilk: #FFF8DC;
$Seashell: #FFF5EE;
$LavenderBlush: #FFF0F5;
$PapayaWhip: #FFEFD5;
$BlanchedAlmond: #FFEBCD;
$MistyRose: #FFE4E1;
$Bisque: #FFE4C4;
$Moccasin: #FFE4B5;
$NavajoWhite: #FFDEAD;
$PeachPuff: #FFDAB9;
$Gold: #FFD700;
$Pink: #FFC0CB;
$LightPink: #FFB6C1;
$Orange: #FFA500;
$LightSalmon: #FFA07A;
$DarkOrange: #FF8C00;
$Coral: #FF7F50;
$HotPink: #FF69B4;
$Tomato: #FF6347;
$OrangeRed: #FF4500;
$DeepPink: #FF1493;
$Fuchsia: #FF00FF;
$Magenta: #FF00FF;
$Red: #FF0000;
$OldLace: #FDF5E6;
$LightGoldenrodYellow: #FAFAD2;
$Linen: #FAF0E6;
$AntiqueWhite: #FAEBD7;
$Salmon: #FA8072;
$GhostWhite: #F8F8FF;
$MintCream: #F5FFFA;
$WhiteSmoke: #F5F5F5;
$Beige: #F5F5DC;
$Wheat: #F5DEB3;
$SandyBrown: #F4A460;
$Azure: #F0FFFF;
$Honeydew: #F0FFF0;
$AliceBlue: #F0F8FF;
$Khaki: #F0E68C;
$LightCoral: #F08080;
$PaleGoldenrod: #EEE8AA;
$Violet: #EE82EE;
$DarkSalmon: #E9967A;
$Lavender: #E6E6FA;
$LightCyan: #E0FFFF;
$BurlyWood: #DEB887;
$Plum: #DDA0DD;
$Gainsboro: #DCDCDC;
$Crimson: #DC143C;
$PaleVioletRed: #DB7093;
$Goldenrod: #DAA520;
$Orchid: #DA70D6;
$Thistle: #D8BFD8;
$LightGrey: #D3D3D3;
$Tan: #D2B48C;
$Chocolate: #D2691E;
$Peru: #CD853F;
$IndianRed: #CD5C5C;
$MediumVioletRed: #C71585;
$Silver: #C0C0C0;
$DarkKhaki: #BDB76B;
$RosyBrown: #BC8F8F;
$MediumOrchid: #BA55D3;
$DarkGoldenrod: #B8860B;
$FireBrick: #B22222;
$PowderBlue: #B0E0E6;
$LightSteelBlue: #B0C4DE;
$PaleTurquoise: #AFEEEE;
$GreenYellow: #ADFF2F;
$LightBlue: #ADD8E6;
$DarkGray: #A9A9A9;
$Brown: #A52A2A;
$Sienna: #A0522D;
$YellowGreen: #9ACD32;
$DarkOrchid: #9932CC;
$PaleGreen: #98FB98;
$DarkViolet: #9400D3;
$MediumPurple: #9370DB;
$LightGreen: #90EE90;
$DarkSeaGreen: #8FBC8F;
$SaddleBrown: #8B4513;
$DarkMagenta: #8B008B;
$DarkRed: #8B0000;
$BlueViolet: #8A2BE2;
$LightSkyBlue: #87CEFA;
$SkyBlue: #87CEEB;
$Gray: #808080;
$Olive: #808000;
$Purple: #800080;
$Maroon: #800000;
$Aquamarine: #7FFFD4;
$Chartreuse: #7FFF00;
$LawnGreen: #7CFC00;
$MediumSlateBlue: #7B68EE;
$LightSlateGray: #778899;
$SlateGray: #708090;
$OliveDrab: #6B8E23;
$SlateBlue: #6A5ACD;
$DimGray: #696969;
$MediumAquamarine: #66CDAA;
$CornflowerBlue: #6495ED;
$CadetBlue: #5F9EA0;
$DarkOliveGreen: #556B2F;
$Indigo: #4B0082;
$MediumTurquoise: #48D1CC;
$DarkSlateBlue: #483D8B;
$SteelBlue: #4682B4;
$RoyalBlue: #4169E1;
$Turquoise: #40E0D0;
$MediumSeaGreen: #3CB371;
$LimeGreen: #32CD32;
$DarkSlateGray: #2F4F4F;
$SeaGreen: #2E8B57;
$ForestGreen: #228B22;
$LightSeaGreen: #20B2AA;
$DodgerBlue: #1E90FF;
$MidnightBlue: #191970;
$Aqua: #00FFFF;
$Cyan: #00FFFF;
$SpringGreen: #00FF7F;
$Lime: #00FF00;
$MediumSpringGreen: #00FA9A;
$DarkTurquoise: #00CED1;
$DeepSkyBlue: #00BFFF;
$DarkCyan: #008B8B;
$Teal: #008080;
$Green: #008000;
$DarkGreen: #006400;
$Blue: #0000FF;
$MediumBlue: #0000CD;
$DarkBlue: #00008B;
$Navy: #000080;
$Black: #000000;